body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-wrapper {
  float: left;
  width: 100%;
  margin: 15px 0; 
}

.form-wrapper input {
  margin: 15px 0;
}

button.full-width {
  width: 100%;
}

input.left {
  width: 49%; 
  float: left;
}

input.right {
  width: 49%;
  float: right;
}